body {
	background-image: linear-gradient(to right, rgb(214, 214, 214), rgb(63, 63, 63), rgb(214, 214, 214));
	overflow: hidden;
}
header {
	width: 100vw;
	height: 50px;
	background-image: linear-gradient(45deg, black 25%, transparent 25%),
		linear-gradient(-45deg, black 25%, transparent 25%), linear-gradient(45deg, transparent 75%, black 75%),
		linear-gradient(-45deg, transparent 75%, black 75%);
	background-size: 20px 20px;
	background-position: 0 0, 0 10px, 10px -10px, -10px 0px;
	display: flex;
	justify-content: center;
	align-items: center;
	font-style: italic;
	font-size: 40px;
	font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
	text-shadow: 4px 0 2px white;
	color: red;
	font-weight: 900;
}
#racetrack {
	position: absolute;
	top: 50;
	left: 0;
	display: flex;
	width: calc(100vw - 220px);
	height: calc(100vh - 50px);
	align-content: flex-start;
	flex-wrap: wrap;
	overflow: hidden;
}
svg {
	z-index: -1;
	width: calc(100vw - 220px);
	height: calc(100vh - 50px);
}
#pallet {
	width: 220px;
	float: right;
}
.track {
	float: left;
	height: 100px;
	width: 100px;
}
.trackpallet {
	float: left;
	height: 100px;
	width: 100px;
	border: 4px outset red;
	margin: 1px;
}

.grass {
	background-image: url('/track/track-grass.png');
}
.start {
	background-image: url('/track/track-start.png');
}
.finish {
	background-image: url('/track/track-finish.png');
}
.vertical {
	background-image: url('/track/track-vertical.png');
}
.horizontal {
	background-image: url('/track/track-horizontal.png');
}
.turnTR {
	background-image: url('/track/tracktr.png');
}
.turnBR {
	background-image: url('/track/trackbr.png');
}
.turnBL {
	background-image: url('/track/trackbl.png');
}
.turnTL {
	background-image: url('/track/tracktl.png');
}
.intersection {
	background-image: url('/track/track-intersection.png');
}
#car {
	background-image: url('/car/car-red.png');
	background-size: contain;
	position: absolute;
	width: 70px;
	height: 35px;
	transform-origin: center left;
	display: none;
}
#display {
	position: fixed;
	top: 0;
	z-index: 100;
	background-color: white;
	font-size: 28px;
}
button {
	width: 220px;
	height: 50px;
	font-size: 24px;
	color: white;
	background-color: rgb(46, 46, 139);
}
button:hover {
	background-color: rgb(48, 48, 180);
}
h2 {
	width: 220px;
	font-size: 20px;
	margin: 10px 0;
	text-align: center;
}
