#racetrack {
	position: absolute;
	top: 0;
	left: 0;
	display: flex;
	width: calc(100vw - 200px);
	height: 90vh;
	align-content: flex-start;
	flex-wrap: wrap;
	overflow: hidden;
	opacity: .7;
}
svg {
	width: calc(100vw - 200px);
	height: 90vh;
}
#pallet {
	width: 200px;
	float: right;
}
.track {
	float: left;
	height: 100px;
	width: 100px;
}
.trackpallet {
	float: left;
	height: 100px;
	width: 100px;
}

.grass {
	background-image: url('/track/track-grass.png');
}
.start {
	background-image: url('/track/track-start.png');
}
.finish {
	background-image: url('/track/track-finish.png');
}
.vertical {
	background-image: url('/track/track-vertical.png');
}
.horizontal {
	background-image: url('/track/track-horizontal.png');
}
.turnTR {
	background-image: url('/track/tracktr.png');
}
.turnBR {
	background-image: url('/track/trackbr.png');
}
.turnBL {
	background-image: url('/track/trackbl.png');
}
.turnTL {
	background-image: url('/track/tracktl.png');
}
.intersection {
	background-image: url('/track/track-intersection.png');
}
#car {
	background-image: url('/car/car-blue.png');
	background-size: contain;
	position: absolute;
	width: 70px;
	height: 35px;
	transform-origin: center left;
	display: none;
}
#display {
	position: fixed;
	top: 0;
	z-index: 100;
	background-color: white;
	font-size: 28px;
}
button {
	width: 200px;
	height: 50px;
	font-size: 24px;
	color: white;
	background-color: rgb(46, 46, 139);
}
button:hover {
	background-color: rgb(48, 48, 180);
}
